@keyframes moveInright {
  0% {
    transform: translateX(5rem);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes moveInleft {
  0% {
    transform: translateX(-5rem);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }
  *:before {
    margin: 0;
    padding: 0;
    box-sizing: inherit; }
  *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: 'lato', sans-serif;
  font-weight: 400;
  background-color: #fff; }

.about-col-left {
  flex-basis: 35%;
  height: 77vh; }

.about-col-right {
  flex-basis: 62%;
  height: 77vh;
  margin-left: 1rem;
  border-radius: 3px; }

.about-text {
  margin: 2rem;
  margin-left: 2rem; }
  .about-text--main {
    font-size: 4rem;
    font-weight: 400;
    max-width: 25rem;
    color: #333; }
  .about-text--sub {
    font-size: 1.8rem;
    line-height: 2.5rem;
    max-width: 30rem;
    color: #7d7d7d;
    margin-top: 1rem; }
  .about-text--box {
    margin-top: 5rem; }
  .about-text--1 {
    float: left;
    margin-left: 1rem; }
  .about-text--2 {
    float: left;
    margin-left: 10rem; }
  .about-text--figure {
    font-size: 5rem;
    font-size: 500;
    text-transform: uppercase;
    color: #2d1dff; }
  .about-text--caption {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: #333; }

.about-col-left-1 {
  flex-basis: 62%;
  height: 77vh;
  margin-left: 1rem;
  border-radius: 3px; }

.about-col-right-2 {
  flex-basis: 35%;
  height: 77vh; }

.row {
  display: flex;
  flex-wrap: wrap; }

.U-center {
  justify-content: center; }

.U-margin-top {
  margin-top: 12rem; }

.commonBtn {
  background-color: #2d1dff;
  border: none;
  text-decoration: none;
  color: #fff;
  width: 15rem;
  height: 5rem;
  padding: 1rem;
  font-size: 1.6rem;
  font-weight: 500;
  border-radius: 3px;
  cursor: pointer;
  transition: all .4s; }
  .commonBtn:hover, .commonBtn:active, .commonBtn:visited {
    outline: none;
    opacity: 0.9; }

.button-box {
  margin-top: 5rem; }

.navigation {
  width: 100%;
  height: 12vh;
  margin-top: 3rem; }
  .navigation__logo-box {
    float: left;
    display: inline-block;
    margin-left: 5rem;
    margin-top: 1rem; }
  .navigation__logo {
    width: 100%; }
  .navigation__ul {
    float: right;
    display: inline-block;
    margin-right: 3rem;
    list-style: none;
    line-height: 3rem; }
  .navigation__li {
    display: inline-block;
    margin-right: 3rem; }
  .navigation__link {
    text-decoration: none;
    font-size: 1.6rem;
    color: #fff;
    font-weight: 500;
    padding-bottom: .5rem;
    transition: all .4s; }
    .navigation__link:hover {
      color: #7d7d7d; }
  .navigation .active {
    border-bottom: 2px solid #2d1dff; }

.about-img {
  width: 100%;
  height: 77vh;
  border-radius: 5px;
  animation: moveInright .8s ease-out; }

.about-img-1 {
  width: 100%;
  height: 77vh;
  border-radius: 5px;
  animation: moveInleft .8s ease-out; }

.header {
  background-image: url(../img/bg-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 160vh; }

.header__hero {
  width: 100%;
  height: 10vh;
  text-align: center;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.3); }
  .header__hero--left {
    float: left;
    margin-left: 2.5rem;
    display: inline-block; }
  .header__hero--right {
    float: right;
    margin-right: 2.5rem;
    display: inline-block; }
  .header__hero--text {
    margin-top: 1.8rem;
    color: #fff; }
  .header__hero .fa {
    font-size: 1.5rem; }
    .header__hero .fa:not(:first-child) {
      margin-left: 1rem; }
  .header__hero--sub {
    font-size: 1.5rem;
    font-weight: 400;
    margin-left: 1rem; }
  .header__hero #header__hero--icon {
    font-size: 1.8rem;
    color: #fff; }
    .header__hero #header__hero--icon:not(last-child) {
      margin-right: 1rem; }

.header__text {
  margin-top: 7rem;
  text-align: center;
  color: #fff; }
  .header__text--main {
    font-size: 3rem;
    font-weight: 400; }
  .header__text--sub {
    font-size: 9rem;
    width: 70rem;
    display: inline-block;
    margin-top: 1rem;
    font-weight: 300; }

.header__row {
  margin-top: 10rem; }
  .header__row__col-1-of-3 {
    flex-basis: 30%;
    height: 40vh;
    margin: 0 1.8rem;
    padding: 0 1rem;
    box-shadow: 2rem 1rem 2rem rgba(0, 0, 0, 0.5); }
  .header__row .fa {
    font-size: 4rem;
    width: 7rem;
    height: 6rem;
    border: 2px solid rgba(45, 29, 255, 0.65);
    padding: 1rem;
    color: #fff;
    border-radius: 7px;
    text-align: center; }
  .header__row--text {
    margin-top: 1rem; }
  .header__row--main {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 700;
    margin-top: 2rem; }
  .header__row--sub {
    font-size: 1.8rem;
    width: 25rem;
    margin-top: 2rem;
    color: #fff;
    font-weight: 300; }
  .header__row--sh {
    margin-right: 1rem; }

.about-section {
  margin-top: 10rem;
  padding: 0 7rem;
  margin-bottom: 2rem; }
