//COLORS
$color-light-text: #7d7d7d; //LIGHT GREY
$color-dark-text: #333; //DARK GREY
$color-bg-sub: #2d1dff; //COLOR BLUE
$color-white: #fff; //COLOR WHITE
$color-black: #000; //COLOR BLACK

//DISPLAYS
$primary-text-display: inline-block;


//MARGINS
$margin-header-box: 2.5rem;
$margin-box-small: 1rem;
$margin-box-medium: 3rem;
$margin-box-big: 5rem;
$margin-box-bg: 7rem;

//FONTS
$default-size: 1.5rem; //FONT-SIZE
$font-size-small: 1.8rem;
