.commonBtn{
    background-color: $color-bg-sub;
    border: none;
    text-decoration: none;
    color: $color-white;
    width: 15rem;
    height: 5rem;
    padding: 1rem;
    font-size: 1.6rem;
    font-weight: 500;
    border-radius: 3px;
    cursor: pointer;
    transition: all .4s;
    
    &:hover,
    &:active,
    &:visited{
        outline: none;
        opacity: 0.9;
    }
}

.button-box{
    margin-top: $margin-box-big;
}