@keyframes moveInright{
    0%{
        transform: translateX(5rem);
        opacity: 0;
    }
    
    80%{
        transform: translateX(-2rem);
    }
    
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes moveInleft{
    0%{
        transform: translateX(-5rem);
        opacity: 0;
    }
    
    80%{
        transform: translateX(2rem);
    }
    
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}