.about-section{
    margin-top: $margin-box-huge;
    padding:  0 7rem;
    margin-top: 15rem;
    margin-bottom: 2rem;
}

.service-section{
    margin-top: 20rem;
    padding:  0 7rem;
    margin-bottom: 2rem;
}

.primary-hero{
    margin-top: $margin-box-bg;
    background-image: url(../img/bg-2.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    text-align: center;
    margin-bottom: 2rem;
}

.booking{
    margin-top: 10rem;
    margin-bottom: 2rem;
}

.section-contact{
    margin-top: $margin-box-bg;
    background-image: url(../img/bg-3.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    text-align: center;
    margin-top: 20rem;
}