.header{
    background-image: url(../img/bg-1.jpg);
    background-size: cover;
//    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.header__hero{
    width: 100%;
    height: 10vh;
    text-align: center;
    border-bottom: .5px solid rgba($color-white, .3);
    
    &--left{
        float: left;
        margin-left: $margin-header-box;
        display: $primary-text-display;
    }
    
    &--right{
        float: right;
        margin-right: $margin-header-box;
        display: $primary-text-display;
    }
    
    &--text{
        margin-top: 1.8rem;
        color: $color-white;
    }
    
    .fa{
        font-size: $default-size;
        
        &:not(:first-child){
            margin-left: $margin-box-small;
        }
    }
    
    &--sub{
        font-size: $default-size;
        font-weight: 400;
        margin-left: $margin-box-small;
    }
    
    #header__hero--icon{
        font-size: 1.8rem;
        color: $color-white;
        
        &:not(last-child){
            margin-right: $margin-box-small;
        }
    }
}

.header__text{
    margin-top: $margin-box-bg;
    text-align: center;
    color: $color-white;
    
    &--main{
        font-size: $margin-box-medium;
        font-weight: 400;
    }
    
    &--sub{
        font-size: 9rem;
        width: 70rem;
        display: inline-block;
        margin-top: $margin-box-small;
        font-weight: 300;
    }
}