.header{
    background-image: url(../img/bg-1.jpg);
    background-size: cover;
//    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 160vh;
}

.header__hero{
    width: 100%;
    height: 10vh;
    text-align: center;
    border-bottom: .5px solid rgba($color-white, .3);
    
    &--left{
        float: left;
        margin-left: $margin-header-box;
        display: $primary-text-display;
    }
    
    &--right{
        float: right;
        margin-right: $margin-header-box;
        display: $primary-text-display;
    }
    
    &--text{
        margin-top: 1.8rem;
        color: $color-white;
    }
    
    .fa{
        font-size: $default-size;
        
        &:not(:first-child){
            margin-left: $margin-box-small;
        }
    }
    
    &--sub{
        font-size: $default-size;
        font-weight: 400;
        margin-left: $margin-box-small;
    }
    
    #header__hero--icon{
        font-size: 1.8rem;
        color: $color-white;
        
        &:not(last-child){
            margin-right: $margin-box-small;
        }
    }
}

.header__text{
    margin-top: $margin-box-bg;
    text-align: center;
    color: $color-white;
    
    &--main{
        font-size: $margin-box-medium;
        font-weight: 400;
    }
    
    &--sub{
        font-size: 9rem;
        width: 70rem;
        display: inline-block;
        margin-top: $margin-box-small;
        font-weight: 300;
    }
}

.header__row{
    margin-top: 10rem;
    
    &__col-1-of-3{
        flex-basis: 30%;
        height: 40vh;
        margin:0 1.8rem;
        padding: 0 1rem;
//        box-shadow: 2rem 1rem 2rem rgba($color-black, .5);
    }
    
    .fa{
        font-size: 4rem;
        width: 7rem;
        height: 6rem;
        border: 2px solid rgba($color-bg-sub, .65);
        padding: 1rem;
        color: $color-white;
        border-radius: 7px;
        text-align: center;
    }
    
    &--text{
        margin-top: $margin-box-small;
    }
    
    &--main{
        color: $color-white;
        font-size: $font-size-small;
        font-weight: 700;
        margin-top: 2rem;
    }
    
    &--sub{
        font-size: 1.8rem;
        width: 25rem;
        margin-top: 2rem;
        color: $color-white;
        font-weight: 300;
    }
    
    &--sh{
        margin-right: $margin-box-small;
    }
}